
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="{% static 'app1/css/style.css' %}"> -->
    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="sm-3"><img src="{% static 'app1/images/img1.png' %}" style="width: 100px;"></div>
          <div class="sm-9">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <a class="navbar-brand" href="{% url 'contact' %}">Contact</a>
          <a class="navbar-brand" href="{% url 'data' %}">Data</a>
          <a class="navbar-brand" href="{% url 'data' %}">About</a>
        
         
        </div>
      </div>
      </nav>
 <div class="text-center"><H2>Contact Form</H2></div> 
    <!-- Wrapper container -->
    <div class="container py-4">
    
      <!-- Bootstrap 5 starter form -->


      <table class="table">
        {% if data %}
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            <th scope="col">Profile</th>
          </tr>
        </thead>
        <tbody>
            {% for dt in data %}
          <tr>
            <th scope="row">{{ forloop.counter }}
            </th>
            <td>{{ dt.name }}</td>
            <td>{{ dt.email }}</td>
            <td>{{ dt.message }}</td> 
             <td><a href="{% url 'delete' dt.id  %}">Delete</a></td>
             <td><a href="{% url 'edit' dt.id  %}">Edit</a></td>
             {% if dt.profile_pic.profile %}
             <td><a href="{% url 'upload_photo' dt.id  %}"><img src="{{ dt.profile_pic.profile.url }} " class="rounded-circle img-fluid " style="height: 70PX;"></a></td> 
             {% else %}
             <td><a href="{% url 'upload_photo' dt.id  %}">upload photo</a></td>  
             {% endif %}
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
  
    
    </div>
  </div>
  </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'app1/js/myjs.js' %}"></script>
  </body>
</html>